<footer>
            this is a footer
        </footer>
        <script>
    
            let headerSearch = document.getElementById('header-search');
             
            let pageNavBtns = document.querySelectorAll('#page-nav button');
             console.log(pageNavBtns);
             
             pageNavBtns.forEach(btn=>{
                 btn.addEventListener('click', function(){
                     if(!btn.classList.contains('active')){
                         btn.classList.add('active')
                     }
                 })
             })
             
         </script>
         <script src="jobs.js"></script>
