<header>ddd    
            <div id="site-header">
                <div id="site-logo">
                    <a href="/index.html"><h2>indeed</h2></a>
                </div>
                <ul>
                    <li><a href="#"><i class='bx bxs-message-detail' ></i></a></li>
                    <li><a href="#"><i class='bx bxs-bell'></i></a></li>
                    <li><i class='bx bx-menu'></i></li>
                </ul>
            </div>
            <div id="header-search">
                <div class="search-field">
                    <div class="input-field">
                    <i class='bx bx-search-alt-2' ></i>
                        <input type="text" placeholder="Job title, keywords or company"> 
                    </div>
                    <div id="suggested">
                        <i class='bx bxs-map' ></i>
                        <button>button</button>
                    </div>
                    
                </div>
            </div>
            <div id="search-view">
                <div class="back-button" style="margin-right: 10px;
                        font-size: 20px;">
                        <i class='bx bx-left-arrow-alt' ></i>
                    </div>
                    
                    <div class="input-field">
                    <i class='bx bx-search-alt-2' ></i>
                        <input type="text" placeholder="Job title, keywords or company"> 
                    </div>
                    
                    <div id="search-button">
                        <button>Find jobs</button>
                    </div>
            </div>
        </header>