---
title: home
layout: 'base.njk'
---
        <div id="page-nav">
            <button class="active">Job Feed</button>
            <button>Recent searches</button>
        </div>

        <div id="job-feed">


            {%- for post in collections.post -%}
            <a href="{{ post.url }}">
                <div class="job-card">
                    <h3>{{ post.data.title }}</h3>
                    <p class="job-company">{{ post.data.company }}</p>
                    <p class="job-location">{{ post.data.location }}</p>
                    <ul class="job-features">
                        <li>{{ post.data.salary }}</li>
                        <li>{{ post.data.type }}</li>
                        <li>{{ post.data.shift }}</li>
                    </ul>
                    <ul class="job-desc">
                        <li>{{ post.data.desc1 }}</li>
                        <li>{{ post.data.desc2 }}</li>
                    </ul>
                </div>
            </a>

            {%- endfor %}
          
        </div>
 